.balanceStyle {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 40px;
}

.balanceStyle span {
  color: #5c6975;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  margin-right: 24px;
  letter-spacing: 1.6px;
  position: relative;
  padding-left: 14px;
}

.balanceStyle span:nth-last-child(1) {
  margin: 0;
  padding: 0;
}

.incomeStyle::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 16px;
  background: url(./icons/up-arrow.svg) no-repeat center;
}

.expensesStyle::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 16px;
  background: url(./icons/down-arrow.svg) no-repeat center;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    /* IE6-IE8 */ url('../../fonts/roboto-v20-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../../fonts/roboto-v20-latin-regular.woff')
      format('woff');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    /* IE6-IE8 */ url('../../fonts/roboto-v20-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../fonts/roboto-v20-latin-700.woff')
      format('woff');
}
